@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #ffffff;
  --text-color: #0f172a;
  --main-color: #6b7280;
  --other-color: #334155;
  --big-font: 3.2rem;
  --h2-font: 2.2rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}
.middle-text {
  h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 600;

    span {
      color: var(--main-color);
    }
  }
}
section {
  padding: 100px 8% 90px;
}
.btn {
  display: inline-block;
  padding: 16px 30px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: 0.45s all ease;

  &:hover {
    letter-spacing: 2px;
    opacity: 0.8;
  }
}

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 17px 8%;
  border-bottom: 1px solid #f7f9fb;
  transition: 0.45s all ease;

  .logo {
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    &::first-letter {
      color: var(--main-color);
    }
  }
  .navbar {
    display: flex;

    li {
      a {
        font-size: var(--p-font);
        color: var(--other-color);
        font-weight: 400;
        padding: 10px 15px;
        margin: 0 5px;
        background: transparent;
        border-radius: 30px;
        transition: all 0.45s ease;
        display: block;
        text-transform: capitalize;

        &:hover {
          background: #f7f9fb;
        }
        &.active {
          background: #f7f9fb;
        }
      }
    }
  }
  .iconos {
    display: flex;
    align-items: center;
    i {
      height: 50px;
      width: 50px;
      background: #f7f9fb;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: var(--other-color);
      font-size: 22px;
      margin-right: 25px;
      margin-left: 10px;
      transition: all 0.45s ease;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
  #menu-icon {
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
}
header.sticky {
  background: var(--bg-color);
  padding: 14px 11%;
}
.home {
  width: 100%;
  height: 100vh;
  background: #e3ffe6 url(../img/background.svg);
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  .home-text {
    font-size: 22px;
    font-weight: 500;
    color: var(--other-color);

    h1 {
      font-size: var(--big-font);
      color: var(--text-color);
      // margin: ;
      margin-bottom: 10px;
    }
  }

  .home-img {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.feature {
  padding-bottom: 0;
  .feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;

    .row {
      padding: 40px 30px;
      background: #f3ffe6;
      border-radius: 20px;
      transition: 0.45s all ease;

      .main-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;

        .row-text {
          h6 {
            font-size: 14px;
            font-weight: 500;
            color: var(--other-color);
            margin-bottom: 1rem;
          }
          h3 {
            margin-bottom: 3rem;
            font-size: 26px;
            font-weight: 600;
          }
          .row-btn {
            display: inline-block;
            padding: 12px 22px;
            background: var(--bg-color);
            color: var(--text-color);
            font-size: 15px;
            border-radius: 30px;
            transition: 0.45s all ease;
            &:hover {
              letter-spacing: 1px;
              color: var(--bg-color);
              background: var(--text-color);
            }
          }
        }
        .row-img {
          img {
            width: 110px;
            height: auto;
            max-width: 100%;
          }
        }
      }
      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
    .row2 {
      background: #fef2f2;
    }
    .row3 {
      background: #eff6ff;
    }
  }
}

.product {
  .product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 3.5rem;

    .box {
      // background: var(--bg-color);
      padding-bottom: 30px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      &:hover {
        box-shadow: 0 0 1px #000;
      }
      .box-content {
        padding: 0 10px;
      }
      .box-img {
        img {
          width: 100%;
          height: auto;
          // border-radius: 20px;
          margin-bottom: 1.2rem;
          transition: 0.45s all ease;
        }
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.1;
      }
      h4 {
        font-size: var(--p-font);
        font-weight: 500;
        margin-bottom: 2rem;
        color: var(--other-color);
      }
      .inbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .price {
          display: inline-block;
          padding: 4px 16px;
          background: transparent;
          border: 2px solid #ef4444;
          color: #ff4444;
          border-radius: 8px;
          font-size: 15px;
          font-weight: 600;
          transition: all 0.5s ease;
          &:hover {
            letter-spacing: 1px;
          }
        }
        .rating {
          a {
            font-size: 19px;
            color: #ff4444;
            margin-right: 4px;
          }
        }
      }
      .heart i {
        position: absolute;
        height: 42px;
        width: 42px;
        display: inline-flex;
        top: 15px;
        right: 15px;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        color: #ef4444;
        font-size: 22px;
        border-radius: 50%;
        transition: 0.45s all ease;

        &:hover {
          background: #ff4444;
          color: var(--bg-color);
          cursor: pointer;
        }
      }
    }
  }
}

.cta-content {
  width: 100%;
  background: url(../img/cta.png);
  height: 70vh;
  max-height: 100%;
  background-size: cover;
  background-position: center;

  .cta {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .cta-text {
      max-width: 560px;

      .logo {
        img {
          width: 200px;
          height: auto;
          margin-bottom: 1.5rem;
        }
      }
      h3 {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
      p {
        font-size: var(--p-font);
        font-weight: 500;
        margin-bottom: 2.5rem;
      }
    }
  }
}

.contact {
  padding: 80px 5% 70px;

  .main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    align-items: center;

    h5 {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 12px;
      a {
        display: block;
        font-size: 15px;
        color: #374151;
        font-weight: 400;
        transition: all 0.45s ease;

        &:hover {
          color: var(--text-color);
          transform: translateX(5px);
        }
      }
    }
  }
}
.end-text {
  p {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--other-color);
  }
}

// responsive

@media (min-width: 1240px) {
  header {
    padding: 12px 4%;
  }
  header.sticky {
    padding: 10px 4%;
  }
  section {
    padding: 80px 4% 70px;
  }
  .home {
    gap: 2rem;
  }
}
@media (max-width: 1160px) {
  .home {
    height: 120vh;
    grid-template-columns: 1fr;
    text-align: center;
    .home .home-text {
      padding: 30px 0;
    }
    .home-img {
      img {
        width: 500px;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
@media (max-width: 1050px) {
  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: 0.45s all ease;

    li {
      padding: 5px 0;
    }
  }
  .navbar.showNav {
    right: 0;
  }
  header #menu-icon {
    display: initial;
    height: 50px;
    width: 50px;
    background: #f7f9fb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .home .home-text h1 {
    font-size: 42px;
  }
  .home .home-text {
    h4 {
      font-size: 20px;
    }
  }
  .home {
    height: 100vh;
  }
}
@media (max-width: 576px) {
  .home {
    height: 85vh;
  }
  .cta-content .cta .cta-text h3 {
    font-size: 2rem;
  }
  header .iconos i,
  header #menu-icon {
    height: 38px;
    width: 38px;
    font-size: 17px;
    margin-right: 0px;
    margin-left: 5px;
  }
  .home .home-text h1 {
    font-size: 27px;
  }
}
